body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Green background */
    padding: 10px 0; /* Padding for the header */
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: center; /* Center the navigation items */
}

nav ul li {
    margin: 0 15px; /* Space between navigation items */
}

nav ul li a {
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Bold text */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}

.container {
    padding: 20px;
}

.section {
    margin-top: 20px;
}

.hidden {
    display: none; /* Hide sections that are not active */
}

#history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#history-table th, #history-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#history-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.notifications {
    margin: 20px 0;
}

.notifications h1 {
    margin-bottom: 10px;
}

.notifications ul {
    list-style-type: none;
    padding: 0;
}

.notifications li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}